[project]
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Sony Rhine Maintainers
	label-Code-Review = -2..+2 group Sony Shinano Maintainers
	label-Verified = -1..+1 group Sony Rhine Maintainers
	label-Verified = -1..+1 group Sony Shinano Maintainers
	submit = group Sony Rhine Maintainers
	submit = group Sony Shinano Maintainers
[access]
	inheritFrom = android_device_sony_shinano-common
